@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 45 100% 97%; /* Light amber background color (HSL: 45, 100%, 97%) */
    --foreground: 0 0% 0%; /* Black foreground color (HSL: 0, 0%, 0%) */
    
    --muted: 40 80% 90%; /* Slightly desaturated amber muted color (HSL: 40, 80%, 90%) */
    --muted-foreground: 0 0% 0%; /* Black foreground color */
    
    --popover: 45 100% 97%; /* Light amber background color */
    --popover-foreground: 0 0% 0%; /* Black foreground color */
    
    --card: 45 100% 97%; /* Light amber background color */
    --card-foreground: 0 0% 0%; /* Black foreground color */
    
    --border: 40 80% 90%; /* Slightly desaturated amber border color (HSL: 40, 80%, 90%) */
    --input: 40 80% 90%; /* Slightly desaturated amber input color (HSL: 40, 80%, 90%) */
    
    --primary:    38, 100%, 50%; /* Medium amber primary color (HSL: 45, 100%, 50%) */
    --primary-foreground: 0 0% 100%; /* White foreground color */
    
    --secondary: 40 80% 90%; /* Slightly desaturated amber secondary color (HSL: 40, 80%, 90%) */
    --secondary-foreground: 0 0% 0%; /* Black foreground color */
    
    --accent: 40 80% 90%; /* Slightly desaturated amber accent color (HSL: 40, 80%, 90%) */
    --accent-foreground: 0 0% 0%; /* Black foreground color */
    
    --destructive: 0 100% 50%; /* Red destructive color (HSL: 0, 100%, 50%) */
    --destructive-foreground: 0 0% 100%; /* White foreground color */
    
    --ring: 40 80% 90%; /* Slightly desaturated amber ring color (HSL: 40, 80%, 90%) */
    
    --radius: 0.5rem;
    
  }


  .dark {
    --background: 222.2 84% 0%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 0%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 0%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}