@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 45 100% 50%; /* Amber background color (HSL: 45, 100%, 50%) */
    --foreground: 0 0% 100%; /* White foreground color (HSL: 0, 0%, 100%) */

    --muted: 40 100% 90%; /* Light amber muted color (HSL: 40, 100%, 90%) */
    --muted-foreground: 0 0% 100%; /* White foreground color */

    --popover: 45 100% 50%; /* Amber background color */
    --popover-foreground: 0 0% 100%; /* White foreground color */

    --card: 45 100% 50%; /* Amber background color */
    --card-foreground: 0 0% 100%; /* White foreground color */

    --border: 40 100% 90%; /* Light amber border color (HSL: 40, 100%, 90%) */
    --input: 40 100% 90%; /* Light amber input color (HSL: 40, 100%, 90%) */

    --primary: 40 100% 90%; /* Light amber primary color (HSL: 40, 100%, 90%) */
    --primary-foreground: 0 0% 100%; /* White foreground color */

    --secondary: 40 100% 90%; /* Light amber secondary color (HSL: 40, 100%, 90%) */
    --secondary-foreground: 0 0% 100%; /* White foreground color */

    --accent: 40 100% 90%; /* Light amber accent color (HSL: 40, 100%, 90%) */
    --accent-foreground: 0 0% 100%; /* White foreground color */

    --destructive: 30 100% 70%; /* Dark amber destructive color (HSL: 30, 100%, 70%) */
    --destructive-foreground: 0 0% 100%; /* White foreground color */

    --ring: 40 100% 90%; /* Light amber ring color (HSL: 40, 100%, 90%) */

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 100% 70%; /* Dark amber background color (HSL: 30, 100%, 70%) */
    --foreground: 0 0% 100%; /* White foreground color */

    --muted: 40 100% 90%; /* Light amber muted color */
    --muted-foreground: 40 100% 90%; /* Light amber muted color foreground */

    --popover: 30 100% 70%; /* Dark amber popover background color (HSL: 30, 100%, 70%) */
    --popover-foreground: 0 0% 100%; /* White foreground color */

    --card: 30 100% 70%; /* Dark amber card background color (HSL: 30, 100%, 70%) */
    --card-foreground: 0 0% 100%; /* White foreground color */

    --border: 40 100% 90%; /* Light amber border color */
    --input: 40 100% 90%; /* Light amber input color */

    --primary: 40 100% 90%; /* Light amber primary color */
    --primary-foreground: 0 0% 100%; /* White foreground color */

    --secondary: 40 100% 90%; /* Light amber secondary color */
    --secondary-foreground: 0 0% 100%; /* White foreground color */

    --accent: 40 100% 90%; /* Light amber accent color */
    --accent-foreground: 0 0% 100%; /* White foreground color */

    --destructive: 30 100% 70%; /* Dark amber destructive color */
    --destructive-foreground: 0 0% 100%; /* White foreground color */

    --ring: 40 100% 90%; /* Light amber ring color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
