.card {
  min-height: 400px;
  border-radius: 5px 5px 0 0 ;
  }

  .Zoomcard{
 }
  .indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    padding: 10px;
  }
  .react-slideshow-container .default-nav:first-of-type {
    border-right: 0;
    border-top: 0;
    /* position: relative; */
    transform: translate(30px, 0);}
    .react-slideshow-container .default-nav:last-of-type {
      border-right: 0;
      border-top: 0;
      /* position: relative; */
      transform: translate(-30px, 0);
    }
    
    .dark .react-slideshow-container+ul.indicators .each-slideshow-indicator:before{
      background-color: #ffffff;
      }
      .indicators{
      
            
             padding-bottom: 20px !important;
        }
    .slideshowcomp{
      display: grid;
      height: 100%;
    }
.react-slideshow-fadezoom-images-wrap{
  height: 100%;
}
.slideImage{
  
}