.card {
  min-height: 300px;
  border-radius: 5px 5px 0 0 ;
  }

  .Zoomcard{
 }
  .indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    padding: 10px;
  }
  .react-slideshow-container .default-nav:first-of-type {
    border-right: 0;
    border-top: 0;
    /* position: relative; */
    transform: translate(30px, 0);}
    .react-slideshow-container .default-nav:last-of-type {
      border-right: 0;
      border-top: 0;
      /* position: relative; */
      transform: translate(-30px, 0);
    }
    
    .dark .react-slideshow-container+ul.indicators .each-slideshow-indicator:before{
      background-color: #ffffff;
      }
      .indicators{
      
            
          
        }
    .slideshowcomp{
      display: grid;
      height: 100%;
    }
.react-slideshow-fadezoom-images-wrap{
  height: 100%;
}
.slideImage{
  
}
.react-slideshow-container+ul.indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20px !important;
  position: absolute;
  left: 50%;
  z-index: 9999;
}
.slideTitle {
  position: relative;
  display: inline-block;
  background: radial-gradient(circle,  rgba(255, 255, 255, 0.075) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
  font-family: 'Your-Font-Here', sans-serif; /* Replace with your preferred font */
}

.slideTitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,  rgba(255, 255, 255, 0.075) 0%,rgba(148, 148, 148, 0.103) 50%, rgba(0,0,0,0) 100%);
  z-index: -1;
}