.card {
    height: 500px;

    padding:50px 50px ;
  }
  .Zoomcard{

  }
  .indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 10px;
  }