


.block1 {
	position: relative;


	background: linear-gradient(0deg, #000, #272727);
  border-radius:50%;
  padding: 10px;

}

.block1:before, .block1:after {
	content: '';
	position: absolute;

	left: -1px;
	top: -1px;
   border-radius:50%;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	z-index: -1;
	animation: steam 20s linear infinite;
}


.block2 {
	position: relative;
	background:  #272727;
    border-radius:5px;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.cat{
	border-radius:5px 0 0 5px;
}
.block1:after {
	filter: blur(10px);
  
}
.block2:after {
	filter: blur(2px);
  
}
.bg-gold{
background-color: #fff9e6 ;
}
.blackbg{

  background-color: #222222;
}

  .menu-closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .menu-open {
    max-height: 500px; /* Adjust the value as needed */
    overflow: visible;
    transition: max-height 0.3s ease-in-out;
  }
  
  .title{
   
    font-weight: bold;

 }
 
  
